<div class="container-fluid" style="margin-top:2rem;">
  <div class="row">
    <div class="col-12">
      <div class="float-right">
        <span>
          <button class="days-button" (click)="onButtonClick(-1)"><i class="fas fa-angle-left"></i></button>
        </span>
        <input type="text" class="days-input" [(ngModel)]="displayDays" disabled="true">
        <span >
          <button class="days-button" (click)="onButtonClick(1)"><i class="fas fa-angle-right"></i></button>
        </span>
      </div>
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" *ngFor="let g of genres">
          <nav class="nav-link" [ngClass]="{'active':selectedView===g.field}" data-toggle="tab" role="tab" aria-selected="true" [routerLink]="['/case-list', g.name]" routerLinkActive="router-link-active">
            <span class="capitalize">{{g.name}}</span>
          </nav>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent" style="width: 100%; height: 500px">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab" style="background:#fff;border: 1px solid #dee2e6;border-top: 0px solid transparent;">
          <div class="row" style="padding-top: 1em">
            <div *ngIf="selectedView!=''" class="col-12" >
              <div class="select2-drop" style="left: 46.6667px; width: 280.792px; top: 713.698px; bottom: auto; display: block;">
                <div class="select2-search">
                  <input type="text" class="select2-input" [(ngModel)]="filterText"  placeholder="{{placeholder}}"
                      (keyup)="onInputAction()">
                  <ul *ngIf="showOptions" id="itembox" class="select2-results" role="listbox">
                    <li class="select2-empty" (click)="onClick(-1)"></li>
                    <li *ngFor="let o of getOptions(); let i = index" role="presentation" (click)="onClick(i)">
                      <div class="select2-result-label" role="option">
                        {{o}}
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-12">
              <router-outlet></router-outlet>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
